.tarefa{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 46rem;
    height: 4.5rem;
    background-color: var(--gray-300);
    border-radius: 10px;
    margin-top: 1.5rem;
}

.tarefaContainerItens{
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
    text-align: left;
    width: 100%;   

}

.containerCheckbox{
  display: flex;
  width: 100%;
 
}
.containerCheckbox input{
  display: none;

}

.containerCheckbox input + label:before{
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid #4EA8DE;
  background-color: reds;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

.containerCheckbox input:checked + label:before{
  background-image: url("../assets/check-bold.svg");
  background-color: #5E60CE;
  border-color: #5E60CE;

}

.descricaoTarefaChecked{
  text-decoration: line-through;
  color: var(--gray-200);
}

.descricaoTarefaUnchecked{
    color: #F2F2F2;
}
  
